/* @font-face {
  font-family: "wolmart";
  src: url(../assets/fonts/wolmart87d5.woff);
}
@font-face {
  font-family: "wolmart-bpld";
  src: url(../assets/fonts/wolmart87d5.ttf);
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  /* font-family: "wolmart" !important; */
  overflow: hidden;
}

section {
  background-image: url("../assets/images/Capture.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 45%;
  min-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  gap: 50px;
  margin: 10%;
}

input {
  border: none;
  border-bottom: 1px solid #5989e38c;
  border-top: 1px solid #5989e38c;
  outline: none;
  width: 290px;
  height: 35px;
  min-width: 200px;
}
button {
  background-color: #4099ff;
  border-radius: 5px;
  width: 60%;
  height: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
h1 {
  font-size: 1.75rem;
  font-weight: 800;
  color: rgba(101, 101, 101, 0.83);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  text-wrap: nowrap;
}
