* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
}

section {
  text-align: center;
  background-image: url("../assets/images/Capture.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 628px) {
  section {
    text-align: center;
    background-image: url("../assets/images/Capture.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .file-upload-wrapper {
    display: none;
  }
  h1 {
    display: none;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: normal;
    text-wrap: nowrap;
    margin-bottom: 60px;
    letter-spacing: 2px;
  }

  .recorder {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 55%;
    height: 50%;
    background-color: #fff;
    border-radius: 4px;
    place-items: center;
  }

  .record_btn {
    width: 100px;
    height: 100px;
    font-family: "Material Icons";
    font-size: 48px;
    color: #4099ff;
    background: none;
    border: 2px solid #4099ff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
  }

  .record_btn:hover {
    transition: 0.15s linear;
    transform: scale(1.05);
    background-color: #a3e6f58a;
  }

  .record_btn:active {
    background: #f5f5f5;
  }

  .record_btn[disabled] {
    border: 2px solid #ccc;
  }

  .record_btn[disabled]:hover {
    transition: 0.15s linear;
    transform: none;
  }

  .record_btn[disabled]:active {
    background: none;
  }

  .recording {
    animation: recording 2s infinite ease-in-out;
    position: relative;
  }

  .recording:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    animation: recording_before 2s infinite ease-in-out;
  }
  #msg_box {
    font-size: 20px;
    margin: 10px 0;
    color: #1471ad;
    letter-spacing: 1px;
  }

  @keyframes recording {
    from {
      transform: scale(1.1);
    }

    50% {
      transform: none;
    }

    to {
      transform: scale(1.1);
    }
  }

  @keyframes recording_before {
    80% {
      width: 200px;
      height: 200px;
      margin: -100px;
      opacity: 0;
    }

    to {
      opacity: 0;
    }
  }
  .box-fileupload- {
    background: #d3e7ff;
    width: 90%;
    padding: 50px;
    border: 2px dashed #a9e4f1;
    border-radius: 5px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  h3 {
    display: inline-block;
    font-size: 19px;
    padding: 10px 0px 6px 0;
    font-weight: 200;
  }
  .space {
    width: 100%;
    display: block;
    margin-right: 6px 0;
  }
  img {
    width: 38px;
    filter: hue-rotate(200deg) brightness(100%) contrast(20%);

  }
}

@media (min-width: 628px) {
  .space {
    display: none;
    
  }
  .box-fileupload- {
    display: none;
  }
  #msg_box {
    display: none;
  }
  h2,
  h3 {
    display: none;
  }
  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: normal;
    text-wrap: nowrap;
    margin-top: 65px;
  }

  .box-fileupload {
    background: #d3e7ff;
    width: 80%;
    padding: 50px;
    border: 2px dashed #a9e4f1;
    border-radius: 3px;
  }
  .file-upload-wrapper {
    width: 37%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: #fff;
    padding: 20px 0;
    border-radius: 4px;
    min-width: 300px;
  }
  .box-fileupload {
    background: #d3e7ff;
    width: 90%;
    padding: 50px;
    border: 3px dashed #8fd9ea;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .file-upload-input {
    display: none;
  }
  label.file-upload-btn {
    width: 152px;
    height: 100px;
    background-image: url(https://www.pngall.com/wp-content/uploads/2/Upload-PNG-Image-File.png);
    background-size: cover;
    background-position: center center;
    background-origin: border-box;
    background-repeat: no-repeat;
  }

  .file-upload-wrapper-title {
    width: 92%;
    min-height: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .file-upload-wrapper-title h4 {
    display: inline-block;
    font-size: 20px;
    padding: 10px 0px 6px 0;
    font-weight: 200;
  }
  .file-upload-wrapper-title hr {
    width: 21%;
    display: inline-block;
    margin: 6px 0;
  }
  .file-upload-wrapper-title__btn {
    background-color: #4099ff;
    border-color: #4099ff;
    border: none;
    padding: 12px 20px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    border-radius: 2px;
  }
  .box-fileupload__lable {
    font-size: 20px;
    margin: 10px 0;
    color: #1471ad;
  }
}
